.btn__reservation {
    position: fixed;
    z-index: 1002;
    bottom: 0;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px 5px 0 0;
    background-color: $color-primary-light;
    box-shadow: 0 0 10px $color-primary-light;
    color: $color-gray-light;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    animation: slideUp 1.5s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .btn__reservation {

    }
}

@media screen and (min-width: 1024px) {
    .btn__reservation {
        top: 30%;
        right: 0px;
        width: 150px;
        height: 50px;
        border-radius: 5px 0 0 5px;
    }
}