.logo {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 5%, rgb(100, 191, 246, 0.2) 100%);
    border-radius: 50%;
    border-left: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
}