// $color-primary: #2C7744;
$color-primary: #043101; // couleur pour les titres
$color-primary-light: #2C7744; // couleur pour les titres
$color-secondary: #7b694d; // couleur pour les textes
$color-tertiary: #ece1cd; // couleur pour les 
$color-btn: #bd962d; // couleur pour les boutons

$color-gray-light: #f3f3f3;

$color-bg-primary: #f8f3e8;