.header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // height: 168px;
    top: -168px;
    transition: all 0.3s ease-in-out;
    padding: 0 30px;
    // margin-bottom: 50px;
    background: linear-gradient(180deg, $color-bg-primary 75%, rgb(100, 191, 246,0) 100%);    
    &__logo {
        position: absolute;
        top: 168px;
        left: 50%;
        width: 200px;
        height: 140px;
        transform: translateX(-50%);
        transition: all 0.3s ease-in-out;

        &-img{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__nav {
    }
}

@media (max-width: 1023px) {
    .header {
        // height: 100%;
        margin-bottom: 19px;
        &__logo {
            width: 145px;
            // height: 46.9px;
        }
    }
}