.header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 68px;
    padding: 0 30px;
    // margin-bottom: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, rgb(100, 191, 246,0) 100%);    
    &__logo {
        position: absolute;
        top: 35px;
        left: 50%;
        width: 200px;
        height: 120px;
        transform: translateX(-50%);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 5%, rgb(100, 191, 246, 0.2) 100%);
        border-radius: 50%;
        border-left: 1px solid rgba(255, 255, 255, 1);
        border-right: 1px solid rgba(255, 255, 255, 1);
        box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
        overflow: hidden;
        &-img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__nav {}
}

@media (max-width: 1023px) {
    .header {
        // height: 100%;
        margin-bottom: 19px;
        &__logo {
            width: 145px;
            // height: 46.9px;
        }
    }
}