.header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: -168px;
    padding: 0 30px;
    background: linear-gradient(180deg, $color-bg-primary 85%, rgb(100, 191, 246,0) 100%);
    transition: all 0.3s ease-in-out;

    &__logo {
        position: absolute;
        top: 168px;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        width: 200px;
        height: 200px;
        transform: translateX(-50%);

        &-img{
            width: 100%;
        }
    }
    &__nav {
    }
}

.header--display {
    top: 0;
    transition: all 0.3s ease-in-out;

    .header__logo {
        position: relative;
        top: 0;
        left: 20px;
        width: 75px;
        height: 75px;
    }
}

@media (max-width: 1023px) {
    .header {
        margin-bottom: 19px;

        &__logo {
            width: 200px;
        }
    }
}