.tabs {
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    height: 50px;
    display: flex;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #000;
    z-index: 50;
    button {
        display: flex;
        justify-content: center;
        width: 100%;
        border: none;
        border-radius:  5px 5px 0 0;
        background: grey;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        cursor: pointer;

        & > img {
            height: 100%;
            margin-right: 10px;
        }

        &:focus {
            outline: none;
        }
        &:hover {
        background: #000;
        color: #fff;
        animation: scale 0.3s ease-in-out forwards;
        }
    }
    .active {
        background: darkgrey;
        border-bottom: 1px solid #000;
        scale: 1.1;
        transform: translateY(-1px);
    }
}
.tab-content {
    animation: opacityChange 1s ease-in-out forwards;
    margin-top: 50px;
    padding: 1rem;
    position: relative;
    justify-content: center;

}
@keyframes scale {
    0% {
        transform: scale(1);
        
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);

    }
}
@keyframes opacityChange {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
@media screen and (min-width: 767px) {
    .tabs {
        width: 767px;
        height: 30px;
        button {
            padding: 0.5rem 0.75rem;
            font-size: 0.75rem;
        }
    }
    .tab-content {
        width: 767px;
    }
  }   
@media screen and (min-width: 1024px) {
    .tabs {
        width: 1024px;
        height: 30px;
        button {
            padding: 0.5rem 0.75rem;
            font-size: 0.75rem;
        }
    }
    .tab-content {
        width: 1024px;
    }
  }   

