.tarifs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    gap: 5px;
    margin-top: 10rem !important;

    &__table {
        width: 100%;
        border: 1px solid #000;
        border-collapse: separate; // collapse pour afficher les bordures

        &-header {
            background: #BBD2C5;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #536976, #BBD2C5);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, rgb(83, 105, 118, 0.3), rgb(187, 210, 197, 0.4));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            text-align: center;
            border: 1px solid #000;
        }

        &-title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        &-row:nth-of-type(even) {
            background-color: rgb(238, 238, 238, 1);
        }

        &-item {
            width: 100px;
            padding: 3px;
            text-align: left;

            &-categories {
                width: 400px;
            }

            &-price {
                text-align: right;
            }

            &-mention {
                text-align: center;
                font-size: 11px;
            }
        }
    }
}